// Import del font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

// Personalizzazione variabili Bootstrap
$primary: #0077b6;
$secondary: #adb5bd;
$success: #00b4d8;
$warning: #ffd166;
$danger: #f10139;
$font-family-sans-serif: "Poppins", sans-serif;

.footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.card {
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-10px);
}

// animazione di entrata
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  animation: fadeInUp 0.9s ease-in-out;
}

//  --- HERO SECTION ---

@keyframes fadeInHero {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.hero {
  animation: fadeInHero 1.2s ease-out;
  width: 100%;
  height: 60vh;
  background-image: url("https://cdn.corrieredellosport.it/img/1238/619/2024/01/25/123150309-6ef2e140-24b4-48e3-93f7-e19c67922277.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  position: relative;

  .hero-content {
    max-width: 700px;
    animation: fadeInUp 0.9s ease-in-out;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  .btn-primary {
    font-weight: 600;
    border-radius: 50px;
    padding: 0.6rem 1.8rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    }
  }
}

// Import di tutto Bootstrap
@import "./bootstrap.scss";
